.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

# Dependencies
node_modules/
desktop-app/node_modules/
python_portable/

# Sensitive Data
LISTA DE ASSISTIDOS.xlsx
desktop-app/data/
*.sqlite
*.db
.env
desktop-app/.env

# Logs and OS
npm-debug.log
thumbs.db
.DS_Store

build/
data/

.env

